@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
    }
}

.font-heading {
    font-family: "Azo Sans", sans-serif;
}
.shadow-custom-combo {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}
.button-color {
    color: #fafafa;
}
.text-color {
    color: #151515;
}
.text-subcolor {
    color: #1a1a1a;
}
.sub-text {
    color: #646e82;
}
.text-body {
    color: #443838;
}
.hover-bg-color:hover {
    background-color: #444444;
}
.bg-color {
    background-color: #444444;
}
.hover-text-color:hover {
    color: #151515;
}
.gradient-overlay {
    background: linear-gradient(
        to bottom,
        rgba(1, 19, 71, 0.63),
        rgba(0, 7, 25, 0.96)
    );
}
.border-color {
    border-color: #e1e7ef;
}
.box-shadow {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
